<footer class="footer py-3 mt-auto" style="background-color: #e2fadb; color: #5f634f;">
    <div class="container text-center" >
        <span class="text-muted ">&copy; <script>document.write(new Date().getFullYear());</script> 💚 from ParkGuide</span>
    </div>
</footer>